<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con EJS</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS externo -->
</head>
<body>
    <h1>Dashboard admin Node</h1>

    <p>Hola!</p> <!-- Imprime el valor de 'nombre' -->


    <script src="/js/script.js"></script> <!-- JavaScript externo -->
</body>
</html>
